/* Nuevos estilos */
.chatbot-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
}

.chat-toggle:hover {
  transform: scale(1.1);
}

.chat-icon {
  width: 60px;
  height: 60px;
  border-radius: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chatbot-container {
  position: absolute;
  bottom: 70px;
  right: 0;
  animation: slide-up 0.3s ease;
}

.chatbot-input {
  display: flex;
  border-top: 1px solid #eee;
  padding: 8px;
  background: #fff; /* Fondo blanco */
}

.chatbot-message {
  margin-bottom: 8px;
  background: #fff; /* Fondo blanco */
  padding: 8px;
  border-radius: 8px;
}
.chatbot-message.user {
  background: #e0f7fa; /* Fondo azul claro para mensajes del usuario */
  align-self: flex-end;
}

.chatbot-message.bot {
  background: #e4f3d2; /* Fondo verde claro para mensajes del bot */
  align-self: flex-start;
}
.chatbot-messages {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  background: #e2e0e0; /* Fondo gris claro */
  border-radius: 8px;
}
@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}
