.video-container {
  width: 100%;
  height: calc(100vh - 200px); /* Adjust based on header/footer height */
  overflow: hidden;
  position: relative;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}